body {
    background-color: #F9F3E7;
}

#website-title,
#recipe-title {
    font-weight: 900px;
    font-size: 40px;
}

.center-image,
.para,
.heading-style {
    text-align: center;
}

.heading-style {
    text-decoration: underline;
    color: #ffc0cb;
}

#style-list {
    list-style: none;
}